<a href="https://colab.research.google.com/github/derek-atiawu/CRUD/blob/main/Copy_of_Derek_Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql import Row
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [ ]:
# Create a Spark session
spark = SparkSession.builder \
    .appName("Amazon Sales Analysis") \
    .getOrCreate()

In [ ]:
# Load the dataset
df = spark.read.csv("AmazonSales.csv", header=True, inferSchema=True)

In [ ]:
# Register the DataFrame as a temporary view
df.createOrReplaceTempView("AmazonSales")

In [ ]:
query1 = """
SELECT category, COUNT(order_id) AS number_of_orders
FROM AmazonSales
GROUP BY category
ORDER BY number_of_orders DESC
LIMIT 5
"""
result1 = spark.sql(query1)
result1.show()

+-----------------+----------------+
|         category|number_of_orders|
+-----------------+----------------+
|Mobiles & Tablets|           61761|
|    Men's Fashion|           40713|
|       Appliances|           33034|
|  Women's Fashion|           28334|
|           Others|           26108|
+-----------------+----------------+

In [ ]:
query2 = """
SELECT RIGHT(order_date, 4) AS year, COUNT(DISTINCT order_id) AS unique_orders
FROM AmazonSales
GROUP BY RIGHT(order_date, 4)
ORDER BY year
"""
result2 = spark.sql(query2)
result2.show()

+----+-------------+
|year|unique_orders|
+----+-------------+
|2020|        75280|
|2021|       126436|
+----+-------------+

In [ ]:
query3 = """
SELECT payment_method, COUNT(order_id) AS number_of_orders
FROM AmazonSales
GROUP BY payment_method
ORDER BY number_of_orders DESC
"""
result3 = spark.sql(query3)
result3.show()

+-----------------+----------------+
|   payment_method|number_of_orders|
+-----------------+----------------+
|              cod|          102916|
|          Easypay|           69679|
|          Payaxis|           31049|
|  easypay_voucher|           29763|
|      bankalfalah|           23057|
|       Easypay_MA|           11536|
|       jazzwallet|            6669|
|      jazzvoucher|            6045|
|   customercredit|            3702|
|              apg|            1758|
|          mcblite|             208|
|   cashatdoorstep|               9|
|financesettlement|               1|
+-----------------+----------------+

In [ ]:
query4 = """
SELECT category, AVG(total) AS average_order_total
FROM AmazonSales
GROUP BY category
ORDER BY average_order_total DESC
"""
result4 = spark.sql(query4)
result4.show()

+------------------+-------------------+
|          category|average_order_total|
+------------------+-------------------+
| Mobiles & Tablets|   2106.70153903618|
|     Entertainment|  1563.994630129124|
|         Computing| 1154.4196472231836|
|        Appliances|  909.9968388236853|
|            Others|  596.1519210579124|
|   Women's Fashion| 234.69477042173952|
|        Superstore| 192.15299608360002|
| Beauty & Grooming| 147.75951570925588|
|       Kids & Baby| 131.88744249075904|
|     Home & Living| 129.41975067763187|
|   Health & Sports| 121.12071903930813|
|     Men's Fashion| 118.39330443001268|
|School & Education| 105.26616344036708|
|           Soghaat|  79.54481969655193|
|             Books|  39.82426557739554|
+------------------+-------------------+

In [ ]:
query5 = """
SELECT order_id, category, total, full_name
FROM AmazonSales
WHERE status = 'canceled'
ORDER BY total DESC
LIMIT 5
"""
result5 = spark.sql(query5)
result5.show()

+---------+-----------------+---------+--------------+
| order_id|         category|    total|     full_name|
+---------+-----------------+---------+--------------+
|100510800|Beauty & Grooming|101262.59| Davison, Jeff|
|100510802|Mobiles & Tablets|  81500.0|Duby, Eustolia|
|100515480|Mobiles & Tablets|  63888.5|    Lear, Elmo|
|100526159|Mobiles & Tablets|  55500.0|  Hord, Adolfo|
|100533797|Mobiles & Tablets|  55500.0|  Hord, Adolfo|
+---------+-----------------+---------+--------------+